# Dependencias
node_modules/
package-lock.json

# Compilación y builds
dist/
dist-ssr/
build/

# Android y Capacitor
android/.gradle/
android/app/build/
android/.idea/
android/captures/
android/local.properties
android/app/*.keystore
android/app/*.jks
*.apk
*.aab

# Variables de entorno y logs
*.local
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editores de código
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
